/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
body {
  font-family: sans-serif;
}
body,
h1 {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-left: 2rem;
}

header > img {
  height: 4rem;
}

.navbar {
  padding-right: 50px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header li {
  margin: 0.5rem;
}

#intro {
  background-image: url("../images/landing.jpg");
  padding-top: 6rem;
  height: 900px;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
}

#intro h1 {
  font-size: 4rem;
  
}
#intro p {
  text-align: center;
  font-size: 1.2rem;
}
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features h2{
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 13px;
  text-decoration-color: #00b172; 
}
#features img {
  height: 100px;
}

.card h3 {
  color: #00b172;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

#app h2 {
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 13px;
}

#app {
  background-color: #00b172;
  color: white;
  margin: 30px;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}
#app-features {
  width: 25%;
}

#spotify-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
}

#spotify-app {
  height: 500px;
}

hr {
  width: 50%;
}

#app-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
